body {
  font-size: 16px;
  color: #fff;
  font-family: 'Balsamiq Sans', cursive;
}

/** HEADER **/
#header-nav {
  background-color: #3d3d3d;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  color: #831fe0;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.25;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -65px;
}
/* END HEADER */

#our-menu{
  font-size: 2em;
  color: black;
  text-shadow: 1px 1px 1px #222;
}

p {
  width: 100%;
  font-family: Helvetica;
  padding: 1%;
  font-size: 1em;
  height: 1200px;
  overflow: auto;
}

[class*="col-"] {
  background-clip: padding-box;
  background-color: #6c6c6c;
  border: 10px solid transparent;
  position: relative;
}

/********** Mobile View **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw;
  }
  
  #collapsable-nav a {
    font-size: 1.2em;
    background-color: #831fe0;
    border: 1px solid white;
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 {
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
}

